.menu__item--has-children {
  position: relative;
}

.menu__list--children {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #2a2a2a;
  min-width: 200px;
  list-style: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 100;
  border-top: 3px solid #3498db;
}

.menu__item--has-children:hover .menu__list--children {
    display: block;
}

.menu__item--child {
    border: 1px solid #f1f1f1;
}

