{{- with .Site.Params.showComments -}}
<hr>
<p>
    <b>Your comments are welcome!</b><br>
</p>
<div id="remark42"></div>
<script>
    var remark_config = {
        host: '{{ .host }}',
        site_id: '{{ .site }}',
        components: ['embed','counter','last-comments'],
        url: '{{ $.Permalink }}',
        theme: 'dark',
        max_shown_comments: 100,
        show_email_subscription: true,
	    simple_view: false,
        no_footer: true,
    };

    !function(e, n) {
        for (var o = 0; o < e.length; o++) {
            var r = n.createElement('script'),
            c = '.js',
            d = n.head || n.body;
            'noModule' in r ? (r.type = 'module', c = '.mjs') : r.async = !0, r.defer = !0, r.src = remark_config.host + '/web/' + e[o] + c, d.appendChild(r)
        }
    }(remark_config.components || ['embed'], document);
</script>

{{- end -}}